name: Sinker API CI

on:
  push:

jobs:
  setup_lint_stan_and_tests:
    runs-on: ubuntu-latest
    if: "! contains(toJSON(github.event.commits.*.message), '[skip-ci]')"

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v2

      - name: Configure PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2

      - uses: "ramsey/composer-install@v1"

      - name: Copy .env.example file to .env
        run: php -r "file_exists('.env') || copy('.env.example', '.env');"

      - name: Generate encryption key
        run: php artisan key:generate

      - name: Run linting
        run: composer run-script check-style

      - name: Run static analysis
        run: composer run-script stan

      - name: Run test suite
        env:
          DB_PASSWORD: postgres
        run: php artisan db:create sinker_api_test && composer run-script test -- --stop-on-failure
